a:link,a:visited, a:active  {color:white; background-color:transparent; text-decoration:underline;}
a:hover   {color:red; background-color:transparent; text-decoration:underline;}

h1{
	text-align: center;
}

section{
	width: 70vw;
	color: white;
	font-family: 'Amita', sans-serif;
	font-size: 120%;
	position: absolute;
	top: 30vh;
	left: 15vw;
	text-align: justify;
	background-color: rgba(0,0,0,0.8);
  	padding: 10px;
 	border: 10px solid transparent;
  	border-image: url(../images/border.png);
  	border-image-slice: 30;
  	border-image-repeat: stretch;
  	border-image-width: 15px;
  	border-image-outset: 5px;
  	
}


#foto{

	
	float:right;
	width: 35vw; height:auto;
}
