@font-face {
    font-family: jon;
    src: url(../fonts/JonSans.ttf);
}
@font-face {
    font-family: ala;
    src: url(../fonts/alamakot.ttf);
}
@font-face {
    font-family: spr;
    src: url(../fonts/SpringtimeBlues.ttf);
}
@font-face {
    font-family: san;
    src: url(../fonts/Sansita-Black.ttf);
}


body{
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	padding:0px;
	margin:0px;
	position: relative;
}

a:link,a:visited, a:active  {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}


header {
	background-color: white;
	margin: 0px;
	padding: 4px;
	text-align: center;
}

nav {
	background-image: url("../images/pasek.png");
	
	background-repeat: no-repeat;
	background-size: cover;

	padding: 2px;
	text-align: center;
	font-family: ala;
	font-size: 120%;
	word-spacing: 30px;
	line-height: 50px;
}


ul#menu {
    padding: 0;
}

ul#menu li {
	display:inline;
    
}

ul#menu li a{
	padding: 8px 8px;
    text-decoration: none;
    border-radius: 6px 6px 6px 6px;
}

ul#menu li a:link,a:visited, a:active{
	color: white;
	background-color: black;
}

ul#menu li a:hover {
	background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}





footer {
	text-align: center;

	font-family: jon;
	color: white;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	display: none;
	bottom: 0;
	width: 100vw;

}

#social1, #social2 {
	
    position: absolute;
    right:0;
    top:30vh;
    background-color: rgba(0,0,0,0.8);
    background-size: 100px 50px;
    top-margin: 400px;
    box-shadow: 2px 2px rgba(255,255,255,0.2);
    border-radius: 8px 0px 0px 8px;
 	position: fixed;
}


#social2{top: 40vh;}



