<!DOCTYPE html>
 <html lang="pl-PL">

<html>

<head>
  		<title>Manfredi and Johnson</title>
      <link rel= "icon" type="image/png" href="../image/icon.png">
    
      <meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width">
      <link href='http://fonts.googleapis.com/css?family=Amita&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  		{% load staticfiles %} 
      <link rel="stylesheet" href="{% static "css/style.css" %}" />
      {%block css%} {%endblock%}

</head>

<body>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1683577608524678',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

	<header>
    {% load staticfiles %}
   	 <a href='/mainpage'> <img src="{% static "images/logoflat.png" %}" alt="mj_logo' " width="678" height="100" /></a> 
       
	</header>

	<nav>
		<ul id="menu">
        <li><a href='/bio'>BIO</a></li>
        <li><a href='/nagrody'>NAGRODY</a></li>
        <li><a href='/koncerty'>KONCERTY</a></li>
  			<li><a href='/galeria'>GALERIA</a></li>
  			<li><a href='/media'>MEDIA</a></li>
  			<li><a href='/przyjaciele'>PRZYJACIELE</a></li>
        <li><a href='/guestbook'>GUESTBOOK</a></li>
  			<li><a href='/kontakt'>KONTAKT</a></li>
		</ul> 
	</nav>


{% block main_content %}


{% endblock%}





 <div id="social" >

     <a href="https://www.facebook.com/johnsonandmanfredi/?fref=ts" id="social1" target="blank">
      <img src="{% static "images/fb.png" %}" width="50" height="50" ></a>
      <a href="https://www.youtube.com/channel/UCZa10a5mrg0sR_xKi0VZxNg" id="social2"target="blank">
      <img src="{% static "images/yt.png" %}" width="50" height="50" ></a>
  </div> 

  <footer>
    Copyright © 2015 Manfredi &amp; Johnson - Oficjalna strona zespołu | 
  </footer>


</body>

</html>

 
