{% extends "index.html" %}
{% block css %}
	{% load staticfiles %} 
	<link rel="stylesheet" href="{% static "css/odp.css" %}" />
{%endblock%}

{% block main_content %}
<section id="form">

<h1>Wiadomość została poprawnie wysłana.</h1>


</section>

<section id="info">
Mieszko "Manfredi" Służewski <br>
e-mail: mieszkosluzewski@gmail.com <br>
tel. 661 102 343 <br>
<br><br>
Piotr "Johnson" Kozub<br>
e-mail: piotrkozub93@wp.pl<br>
tel.511 560 337<br>
<br><br>
manfredijohnsonband@gmail.com
</section>
{%endblock%}